/* heading */
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
}

/* table */
table {
    font-size: 75%;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse; /* Añadido para evitar problemas de bordes en algunas situaciones */
}

th, td {
    border: 1px solid #000; /* Añadido un borde sólido para todas las celdas */
    padding: 0.5em;
    position: relative;
    text-align: left;
}

th {
    background: #EEE;
}

/* page */
html {
    font: 16px/1 'Open Sans', sans-serif;
    overflow: auto;
    padding: 0.5in;
    background: #999;
    cursor: default;
}

p {
    font-size: 85%; 
}
.page {
    height: 100%;
    background-image: url('https://acortar.link/aZeMl7');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    page-break-after: always;
    padding: 1in;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0.5in;
}  

.content {
    margin-top: 150px; /* Ajusta este valor al margen superior que necesites */
  }
  
/* header */
header {
    margin: 0 0 3em;
    overflow: hidden; /* Añadido para manejar el colapso del margen superior */
}

header address {
    float: left;
    font-size: 75%;
    font-style: normal;
    line-height: 1.25;
    margin: 0 1em 1em 0;
}


/* article */
article,
article address,
table.meta,
table.inventory {
    margin: 0 0 3em;
    clear: both;
}

article:after {
    content: "";
    display: table;
    clear: both;
}

article h1 {
    clip: rect(0 0 0 0);
    position: absolute;
}

article address {
    float: left;
    font-size: 125%;
    font-weight: bold;
}

/* table meta & balance */
table.meta,
table.balance {
    float: right;
    width: 36%;
}

table.meta:after,
table.balance:after {
    content: "";
    display: table;
    clear: both;
}

/* table meta */
table.meta {
    width: 100%;
    table-layout: fixed;
}
table.meta th {
    width: 125px;
    white-space: nowrap;
}

table.meta td {
    width: auto;
}

/* table items */
table.inventory th {
    font-weight: bold;
    text-align: center;
}

table.inventory td {
    text-align: left;
}

table { font-size: 75%; table-layout: fixed; width: 100%; }
table { border-collapse: separate; border-spacing: 2px; }
th, td { border-width: 1px; padding: 0.5em; position: relative; text-align: left; }
th, td { border-radius: 0.25em; border-style: solid; }
th { background: #EEE; border-color: #BBB; }
td { border-color: #DDD; }

/* aside */
aside h1 {
    border: none;
    border-width: 0 0 1px;
    margin: 0 0 1em;
    border-color: #999;
    border-bottom-style: solid;
}


@media print {
   
    html {
        background: none;
        padding: 0;
    }
    body {
        box-shadow: none;
        margin: 0;
    }
    span:empty {
        display: none;
    }
    .add,
    .cut {
        display: none;
    }
}

@page {
    margin: 0;
}
